.yt-channel {
  height: 160px;
  margin: 40px auto;
  width: 500px;
}

.yt-channel a {
  color: #333;
  font-size: 30px;
  line-height: 180px;
}

.yt-icon {
  background: url('../images/youtube.png') no-repeat;
  float: left;
  height: 176px;
  width: 176px;
}
